<div class="layout layout-nav-side">
  <%= render 'shared/navside' %>
  <div class="main-container">
    <div class="navbar bg-white breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="<%= pages_obeya_skills_path %>">Obeya Skills</a>
          </li>
          <li class="breadcrumb-item active">
            Teams
          </li>
        </ol>
      </nav>
      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">settings</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="<%= edit_user_registration_path %>">Account Settings</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'Log out', destroy_user_session_path, class:'dropdown-item text-danger', method: :DELETE %>
        </div>
      </div>
    </div>
    <%= render 'shared/notices'%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header mb-4">
            <div class="media">
              <%= image_tag user_avatar(current_user.id), class:'avatar avatar-lg mt-1'%>
              <div class="media-body ml-3">
                <h1 class="mb-0"><%= current_user.first_name %></h1>
                <p class="lead"><%= current_user.bio %></p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Teams (<%= current_user.teams.count %>)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Guests (<%= @users.count %>)</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show <%= @tab == "teams" ? "active" : "" %>" id="teams" role="tabpanel" aria-labelledby="teams-tab" data-filter-list="content-list-body">
              <div class="row content-list-head">
                <div class="col-auto">
                  <h3 class="mr-2">Teams</h3>
                  <%= button_to new_team_path, remote: true, class:'btn btn-round', data: {toggle:'modal', target:'#team-add-modal'} do %>
                  <i class="material-icons">add</i>
                  <% end %>
                </div>
                <form class="col-md-auto">
                  <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">filter_list</i>
                      </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Filter teams" aria-label="Filter teams" aria-describedby="filter-teams">
                  </div>
                </form>
              </div>
              <!--end of content list head-->
              <div class="content-list-body row">
                <% current_user.teams.each do |team| %>
                <div class="col-md-6">
                  <div class="card card-team">
                    <div class="card-body">
                      <div class="dropdown card-options">
                        <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <%= link_to 'Show', team_path(team), class:'dropdown-item'%>
                          <%= link_to 'Edit', '#', class:'dropdown-item', data: {toggle:'modal', target:"#team-edit-modal-#{team.id}"}%>
                          <div class="dropdown-divider"></div>
                          <%= link_to 'Delete', team_path(team.id), class:'dropdown-item text-danger', method: :delete %>
                        </div>
                      </div>
                      <div class="card-title">
                        <a href="<%=  team_path(team)%>">
                          <h5 data-filter-by="text"><%= team.name %></h5>
                        </a>
                        <% if (team.members.count) == 1 %>
                        <span> 1 Member / <%= team.targets.count %> Target </span>
                        <% else %>
                        <span><%= team.members.count %> Members / <%= team.targets.count %> Targets</span>
                        <% end %>
                      </div>

                      <ul class="avatars">
                        <% team.members.each do |member|%>
                        <li>
                          <a href="#" data-toggle="tooltip" title="<%= user_name(member.user_id) %>">
                            <%= image_tag user_avatar(member.user_id), class:'avatar' %>
                          </a>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <%= render partial: 'teams/edit', locals: { team: team } %>
                </div>
                <% end %>
                <%= render 'teams/new' %>
              </div>
              <!--end of content-list-body-->
            </div>
            <div class="tab-pane fade show <%= @tab == "members" ? "active" : "" %>" id="members" role="tabpanel" aria-labelledby="members-tab" data-filter-list="content-list-body">
              <div class="content-list">
                <div class="row content-list-head">
                  <div class="col-auto">
                    <h3>Members</h3>
                    <button class="btn btn-round" data-toggle="modal" data-target="#user-invite-modal">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <form class="col-md-auto">
                    <div class="input-group input-group-round">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">filter_list</i>
                        </span>
                      </div>
                      <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members" aria-describedby="filter-members">
                    </div>
                  </form>
                </div>
                <!--end of content list head-->
                <div class="content-list-body row">
                  <% @users.all.each do |member| %>
                  <div class="col-6">
                    <a class="media media-member" href="#">
                      <%= image_tag user_avatar(member.id), class:'avatar avatar-lg'%>
                      <div class="media-body">
                        <h6 class="mb-0" data-filter-by="text"><%= member.first_name %> <% member.last_name %></h6>
                        <span data-filter-by="text" class="text-body"><%= member.bio %></span>
                      </div>
                    </a>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-round btn-floating btn-lg" type="button" data-toggle="collapse" data-target="#floating-chat" aria-expanded="false" aria-controls="sidebar-floating-chat">
        <i class="material-icons">chat_bubble</i>
        <i class="material-icons">close</i>
      </button>


    </div>
  </div>
