<div class="layout layout-nav-side">
  <%= render 'shared/navside' %>
  <div class="main-container">
    <div class="navbar bg-white breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Teams', teams_path, class:'breadcrumb-ite' %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @team.name %></li>
        </ol>
      </nav>
      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">settings</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-manage-modal">Edit Team</a>
          <a class="dropdown-item" href="#">Share</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="#">Leave</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header">
            <h1><%= @team.name %></h1>
            <p class="lead"><%= @team.description %></p>
            <div class="d-flex align-items-center">
              <ul class="avatars">
                <% @team.user_members.each do |member|%>
                <li>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Claire Connors">
                    <%= image_tag user_avatar(member.id), class:'avatar' %>
                  </a>
                </li>
                <% end %>
              </ul>
              <button class="btn btn-round" data-toggle="modal" data-target="#user-invite-modal">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
          <hr>
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Targets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="tasks-tab" data-filter-list="content-list-body">
              <div class="content-list">
                <div class="row content-list-head">
                  <div class="col-auto">
                    <h3 class="mr-3">Targets</h3>
                    <%= button_to team_targets_path(@team.id), remote: true, class:'btn btn-round', data: {toggle:'modal', target:"#team-target-add-modal"} do %>
                    <i class="material-icons">add</i>
                    <% end %>
                  </div>
                  <form class="col-md-auto">
                    <div class="input-group input-group-round">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">filter_list</i>
                        </span>
                      </div>
                      <input type="search" class="form-control filter-list-input" placeholder="Filter targets" aria-label="Filter Projects" aria-describedby="filter-projects">
                    </div>
                  </form>
                </div>
                <!--end of content list head-->
                <div class="content-list-body row">
                  <% @team.targets.each do |target| %>
                  <div class="col-lg-6">
                    <div class="card card-project">
                      <div class="progress">
                        <div class="progress-bar <%= bg_targets(target) %>" role="progressbar" style="width:<%= target_progress(target) %>%" aria-valuenow="<%= target_progress(target) %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body">
                        <div class="dropdown card-options">
                          <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <%= link_to 'Edit', '#', class:'dropdown-item', data: {toggle:'modal', target:"#team-target-edit-modal-#{target.id}"} %>
                            <div class="dropdown-divider"></div>
                            <%= link_to 'Delete', target_path(target.id), method: :DELETE, class:'dropdown-item text-danger' %>
                          </div>
                        </div>
                        <div class="card-title">
                          <a href="<%= target_path(target) %>">
                            <h5 data-filter-by="text"><%= target.title %></h5>
                          </a>
                        </div>
                        <ul class="avatars">
                          <li>
                            <% if target.responsible.nil? %>
                            <a href="#" data-toggle="tooltip" title="Kenny">
                              <%= link_to 'Add Responsible', '#', class:'dropdown-item', data: {toggle:'modal', target:"#add-team-target-responsible-modal-#{target.id}"} %>
                            </a>
                            <% else %>
                            <a href="#" data-toggle="tooltip" title="Kenny">
                              <%= image_tag user_avatar(target.responsible.id), class:'avatar' %>
                            </a>
                            <% end %>
                          </li>
                        </ul>
                        <div class="card-meta d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <i class="material-icons mr-1">playlist_add_check</i>
                            <span class="text-small"><%= total_closed_deliverables(target) %>/<%= total_deliverables(target) %></span>
                          </div>
                          <span class="text-small" data-filter-by="text">Due <%= (target.due_date - Date.today).to_i %> days</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= render partial: 'teams/targets/edit', locals: { team: @team, target: target } %>
                  <%= render partial: 'teams/add-target-responsible', locals: { team: @team, target: target } %>
                  <% end %>
                </div>
                <%= render partial: 'teams/targets/new', locals: { team: @team } %>


                <!--end of content list body-->
              </div>
              <!--end of content list-->
            </div>
            <!--end of tab-->
            <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab" data-filter-list="content-list-body">
              <div class="content-list">
                <div class="row content-list-head">
                  <div class="col-auto">
                    <h3>Members</h3>
                    <button class="btn btn-round" data-toggle="modal" data-target="#user-invite-modal">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <form class="col-md-auto">
                    <div class="input-group input-group-round">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">filter_list</i>
                        </span>
                      </div>
                      <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members" aria-describedby="filter-members">
                    </div>
                  </form>
                </div>
                <!--end of content list head-->
                <div class="content-list-body row">
                  <div class="col-6">
                    <% @team.user_members.each do |member| %>
                    <a class="media media-member" href="#">
                      <%= image_tag user_avatar(member.id), class:'avatar avatar-lg'%>
                      <div class="media-body">
                        <h6 class="mb-0" data-filter-by="text"><%= member.first_name %> <% member.last_name %></h6>
                        <span data-filter-by="text" class="text-body"><%= member.bio %></span>
                      </div>
                    </a>
                    <% end %>
                  </div>
                </div>
              </div>
              <!--end of content list-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-round btn-floating btn-lg" type="button" data-toggle="collapse" data-target="#floating-chat" aria-expanded="false" aria-controls="sidebar-floating-chat">
      <i class="material-icons">chat_bubble</i>
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
