<div class="layout layout-nav-side">
  <%= render 'shared/navside' %>
  <div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Teams</a>
          </li>
          <li class="breadcrumb-item"><a href="<%= team_path(@target.team_id)%>"><%= find_team(@target.team_id).name %></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"><%= @target.title %></li>
        </ol>
      </nav>

      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">settings</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-target-edit-modal">Edit Project</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="#">Delete</a>
        </div>
      </div>
    </div>

    <%= render 'shared/notices'%>
    <div class="container-kanban">
      <div class="container-fluid page-header d-flex justify-content-between align-items-start">
        <div>
          <h1><%= @target.title %></h1>
          <p class="lead d-none d-md-block"><%= @target.description %></p>
          <p>Due <%= distance_of_time_in_words(@target.due_date, Time.now) %></p>
        </div>
        <div>
          <div class="col-auto">
            <ul class="avatars mt-2">
              <li>
                <a href="#" data-toggle="tooltip" data-placement="center" title="<%= find_user(@target.responsible_id) %>">
                  <%= image_tag user_avatar(@target.responsible_id), class:'avatar'%>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row content-list-head">
          <div class="col-auto">
            <h3 class="mr-2">Commitment</h3>
            <%= button_to team_target_commitments_path(@target.team_id, @target), remote: true, class:'btn btn-round', data: {toggle:'modal', target:"#commitment-target-add-modal"} do %>
            <i class="material-icons">add</i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="kanban-board container-fluid mt-lg-3">
        <!-- Backlog -->
        <div class="kanban-col">
          <div class="card-list">
            <div class="card-list-header">
              <h6>Backlog (<%= commitments_by(@target, 0)%>)</h6>
              <div class="dropdown">
                <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="<>">Renegotiate</a>
                  <a class="dropdown-item text-danger" href="#">Archive List</a>
                </div>
              </div>
            </div>
            <div class="card-list-body">
              <% (array_of_commitments_by(@target, 0)).each do |commitment| %>
              <div class="card card-kanban">
                <div class="progress" >
                    <div id="commitment-progress" class="progress-bar bg-success" style="width: <%= task_progress(commitment)%>%"></div>
                </div>
                <div class="card-body">

                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="kanban-dropdown-button-<%= commitment.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                      <%= link_to('Renegociate', '#', class:'btn btn-sm btn-primary', data: {toggle:'modal', target:"#commitment-edit-renegociate-date-modal-#{commitment.id}"}) if commitment.renegotiation_date.nil? &&  commitment.closing_date.nil? %>
                      <% if closed?(commitment) == false %>
                      <a class="dropdown-item" href="<%= complete_commitment_path(commitment.id) %>" data-method="PATCH">Complete</a>
                      <% end %>
                      <a class="dropdown-item text-danger" href="<%= commitment_path(commitment)%>" data-method="DELETE">Delete</a>
                    </div>
                  </div>

                  <div class="card-title">
                    <a href="<%= commitment_path(commitment.id) %>">
                      <h6><%= commitment.action %></h6>
                    </a>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="David">
                        <%= image_tag user_avatar(commitment.responsible_id), class:'avatar'%>
                      </a>
                    </li>
                  </ul>


                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="material-icons">playlist_add_check</i>
                      <span><%= tasks_done(commitment) %>/<%= commitment.tasks.count %></span>
                    </div>
                    <% if commitment.due_date.nil? %>
                    <span class="text-small">Unscheduled</span>
                    <% else %>
                    <span class="text-small">Due <%= distance_of_time_in_words(commitment.due_date, Time.now) %></span>
                    <% end %>

                  </div>

                </div>
              </div>
              <% end %>

              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Waiting -->
        <div class="kanban-col">
          <div class="card-list">
            <div class="card-list-header">
              <h6>Waiting (<%= waiting_commitments(@target).count %>)</h6>
              <div class="dropdown">
                <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item text-danger" href="#">Archive List</a>
                </div>
              </div>
            </div>
            <div class="card-list-body">
              <% (waiting_commitments(@target)).each do |commitment| %>
              <div class="card card-kanban">
                <div class="progress" >
                    <div id="commitment-progress" class="progress-bar bg-success" style="width: <%= task_progress(commitment)%>%"></div>
                </div>
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="kanban-dropdown-button-<%= commitment.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item text-danger" href="#">Archive Card</a>
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="<%= commitment_path(commitment.id) %>">
                      <h6><%= commitment.action %></h6>
                    </a>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="David">
                        <%= image_tag user_avatar(user_id_for_commitment(commitment.user_id)), class:'avatar'%>
                      </a>
                    </li>
                  </ul>


                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="material-icons">playlist_add_check</i>
                      <span><%= tasks_done(commitment) %>/<%= commitment.tasks.count %></span>
                    </div>
                    <% if commitment.due_date.nil? %>
                    <span class="text-small">Unscheduled</span>
                    <% else %>
                    <span class="text-small">Due <%= distance_of_time_in_words(commitment.due_date, Time.now)%></span>
                    <% end %>

                  </div>

                </div>
              </div>
              <% end %>

              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>
        </div>
        <!-- This Week -->
        <div class="kanban-col">
          <div class="card-list">
            <div class="card-list-header">
              <h6>This week (<%= this_week_commitments(@target).count %>)</h6>
              <div class="dropdown">
                <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item text-danger" href="#">Archive List</a>
                </div>
              </div>
            </div>
            <div class="card-list-body">
              <% (this_week_commitments(@target)).each do |commitment| %>
              <div class="card card-kanban">
                <div class="progress" >
                    <div id="commitment-progress" class="progress-bar bg-success" style="width: <%= task_progress(commitment)%>%"></div>
                </div>
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="kanban-dropdown-button-<%= commitment.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item text-danger" href="#">Archive Card</a>
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="<%= commitment_path(commitment.id) %>">
                      <h6><%= commitment.action %></h6>
                    </a>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="David">
                        <%= image_tag user_avatar(user_id_for_commitment(commitment.user_id)), class:'avatar'%>
                      </a>
                    </li>
                  </ul>


                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="material-icons">playlist_add_check</i>
                      <span><%= tasks_done(commitment) %>/<%= commitment.tasks.count %></span>
                    </div>
                    <% if commitment.due_date.nil? %>
                    <span class="text-small">Unscheduled</span>
                    <% else %>
                    <span class="text-small">Due <%= distance_of_time_in_words(commitment.due_date, Time.now)%></span>
                    <% end %>

                  </div>

                </div>
              </div>
              <% end %>

              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Doing -->
        <div class="kanban-col">
          <div class="card-list">
            <div class="card-list-header">
              <h6>Doing (<%= today_commitments(@target).count %>)</h6>
              <div class="dropdown">
                <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item text-danger" href="#">Archive List</a>
                </div>
              </div>
            </div>
            <div class="card-list-body">
              <% (today_commitments(@target)).each do |commitment| %>
              <div class="card card-kanban">
                <div class="progress" >
                    <div id="commitment-progress" class="progress-bar bg-success" style="width: <%= task_progress(commitment)%>%"></div>
                </div>
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="kanban-dropdown-button-<%= commitment.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item text-danger" href="#">Archive Card</a>
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="<%= commitment_path(commitment.id) %>">
                      <h6><%= commitment.action %></h6>
                    </a>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="David">
                        <%= image_tag user_avatar(user_id_for_commitment(commitment.user_id)), class:'avatar'%>
                      </a>
                    </li>
                  </ul>


                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="material-icons">playlist_add_check</i>
                      <span><%= tasks_done(commitment) %>/<%= commitment.tasks.count %></span>
                    </div>
                    <% if commitment.due_date.nil? %>
                    <span class="text-small">Unscheduled</span>
                    <% else %>
                    <span class="text-small">Due <%= distance_of_time_in_words(commitment.due_date, Time.now)%></span>
                    <% end %>

                  </div>

                </div>
              </div>
              <% end %>

              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Closed Before Deadline -->
        <div class="kanban-col">
          <div class="card-list">
            <div class="card-list-header">
              <h6>Closed Before Deadline (<%= commitments_by(@target, 5) %>)</h6>
              <div class="dropdown">
                <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item text-danger" href="#">Archive List</a>
                </div>
              </div>
            </div>
            <div class="card-list-body">
              <% (array_of_commitments_by(@target, 5)).each do |commitment| %>
              <div class="card card-kanban">
                <div class="progress" >
                    <div id="commitment-progress" class="progress-bar bg-success" style="width: <%= task_progress(commitment)%>%"></div>
                </div>
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="kanban-dropdown-button-<%= commitment.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item text-danger" href="#">Archive Card</a>
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="<%= commitment_path(commitment.id) %>">
                      <h6><%= commitment.action %></h6>
                    </a>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="<%= User.find(commitment.user_id).first_name%>">
                        <%= image_tag user_avatar(commitment.user_id), class:'avatar'%>
                      </a>
                    </li>
                  </ul>


                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="material-icons">playlist_add_check</i>
                      <span><%= tasks_done(commitment) %>/<%= commitment.tasks.count %></span>
                    </div>
                    <% if commitment.due_date.nil? %>
                    <span class="text-small">Unscheduled</span>
                    <% else %>
                    <span class="text-small">Due <%= distance_of_time_in_words(commitment.due_date, Time.now)%></span>
                    <% end %>

                  </div>

                </div>
              </div>
              <% end %>

              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Closed After Deadline -->
        <div class="kanban-col">
          <div class="card-list">
            <div class="card-list-header">
              <h6>Closed After Deadline (<%= commitments_by(@target, 6) %>)</h6>
              <div class="dropdown">
                <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item text-danger" href="#">Archive List</a>
                </div>
              </div>
            </div>
            <div class="card-list-body">
              <% (array_of_commitments_by(@target, 6)).each do |commitment| %>
              <div class="card card-kanban">
                <div class="progress" >
                    <div id="commitment-progress" class="progress-bar bg-success" style="width: <%= task_progress(commitment)%>%"></div>
                </div>
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="kanban-dropdown-button-<%= commitment.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Renegotiate</a>
                      <a class="dropdown-item" href="#">Complete</a>
                      <a class="dropdown-item" href="#">Replicate to Backlog</a>
                      <a class="dropdown-item text-danger" href="#">Delete</a>
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="<%= commitment_path(commitment.id) %>">
                      <h6><%= commitment.action %></h6>
                    </a>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="<%= user_id_for_commitment(commitment.user_id).first_name%>">
                        <%= image_tag user_avatar(user_id_for_commitment(commitment.user_id)), class:'avatar'%>
                      </a>
                    </li>
                  </ul>


                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="material-icons">playlist_add_check</i>
                      <span><%= tasks_done(commitment) %>/<%= commitment.tasks.count %></span>
                    </div>
                    <% if commitment.due_date.nil? %>
                    <span class="text-small">Unscheduled</span>
                    <% else %>
                    <span class="text-small">Due <%= distance_of_time_in_words(commitment.due_date, Time.now)%></span>
                    <% end %>

                  </div>

                </div>
              </div>
              <% end %>

              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <%= render partial: 'commitments/new_nested_commitment', locals: { target: @target } %>
    </div>

    <button class="btn btn-primary btn-round btn-floating btn-lg" type="button" data-toggle="collapse" data-target="#floating-chat" aria-expanded="false" aria-controls="sidebar-floating-chat">
      <i class="material-icons">chat_bubble</i>
      <i class="material-icons">close</i>
    </button>

  </div>
</div>
