<div class="layout layout-nav-top">
  <%= render 'navbar' %>
  <div class="main-container">
    <div class="container">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Evolution</h1>
        <p class="lead">Obeya App is not another application, is the evolution of work of thousands people around the world supported by the Lean Management culture </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
          <section class="pt-4 pt-lg-5">
            <div class="row align-items-center">
              <div class="offset-md-2 col-md-4 my-2">
                <%= image_tag 'pdca_1.svg', style:'width:100%'%>
              </div>
              <div class="col-md-4 text-left pl-2">
                <p class="number-circle">1</p>
                <h3 class=""> PDCA Cycle </h3>
                <p class="lead">
                  Plan to set targets
                  Do something to achieved
                  Check the impact
                  Act against problems
                </p>
              </div>
            </div>
          </section>
          <section class="pt-4 pt-lg-5">
            <div class="row align-items-center">

              <div class="offset-md-2 col-md-4 text-right">
                <h3 class=""> Obeya Room </h3>
                <p class="lead">
                  Plan to set targets
                  Do something to achieved
                  Check the impact
                  Act against problems
                </p>
              </div>
              <div class="col-md-4 text-left">
                <%= image_tag 'obeyaroom.svg', style:'width:100%', class:'pl-2'%>
              </div>
            </div>
          </section>
          <section class="pt-4 pt-lg-5">
            <div class="row align-items-center">
              <div class="offset-md-2 col-md-4 text-right">
                <%= image_tag 'obeyaboard.svg', style:'width:100%', class:'pr-2'%>
              </div>
              <div class="col-md-4 text-left pl-2">
                <h3 class=""> Obeya Board </h3>
                <p class="lead">
                  Plan to set targets
                  Do something to achieved
                  Check the impact
                  Act against problems
                </p>
              </div>
            </div>
          </section>
          <section class="pt-4 pt-lg-5">
            <div class="row align-items-center">

              <div class="offset-md-2 col-md-4 text-right">
                <h3 class=""> Obeya Digital </h3>
                <p class="lead">
                  Plan to set targets
                  Do something to achieved
                  Check the impact
                  Act against problems
                </p>
              </div>
              <div class="col-md-4 text-left">
                <%= image_tag 'obeya-app.svg', style:'width:100%', class:'pl-2'%>
              </div>
            </div>
          </section>
        </div>
    </div>

  </div>

</div>
<%= render 'footer' %>
