<div class="layout layout-nav-side">
  <%= render 'shared/navside' %>
  <div class="main-container">
    <div class="navbar bg-white breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="<%= teams_path(tab: '#teams') %>">Overview</a>
          </li>
          <li class="breadcrumb-item active">
            <a> Obeya Skills </a>
          </li>

        </ol>
      </nav>

      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">settings</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">

          <a class="dropdown-item" href="#">Account Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="#">Log out</a>

        </div>
      </div>

    </div>
    <%= render 'shared/notices'%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header mb-4">
            <div class="media">
              <div class="media-body">
                <h1 class="mb-0">Obeya Skills</h1>
                <p class="lead">Welcome <%= current_user.first_name %>, here we are some skills to develop</p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#do" role="tab" aria-controls="do" aria-selected="false">Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#check" role="tab" aria-controls="check" aria-selected="false">Check</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#act" role="tab" aria-controls="act" aria-selected="false">Act</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show <%= @tab == "plan" ? "active" : "" %>" id="plan" role="tabpanel" aria-labelledby="plan-tab" data-filter-list="content-list-body">
              <div class="row">
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <center><h6>Commitment Level Evolution</h6></center>
                        </a>
                      </div>
                        <%= area_chart  charts_planning_level_path, xtitle: 'Weeks', ytitle: 'Commitment Level', title: 'My'  %>
                    </div>
                  </div>

                </div>

              </div>

              <div class="row">
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="dropdown card-options">
                        <button class="btn-options" type="button" id="kanban-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item text-danger" href="#">Archive Card</a>
                        </div>
                      </div>
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <h6>Planning Level</h6>
                        </a>
                      </div>
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="David">
                            <h1 style="margin:0px"><%= level_of_planification(current_user)%>%</h1>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="dropdown card-options">
                        <button class="btn-options" type="button" id="kanban-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item text-danger" href="#">Archive Card</a>
                        </div>
                      </div>
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <h6>Commitment Level</h6>
                        </a>
                      </div>
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="David">
                            <h1 style="margin:0px"><%= level_of_commitment(current_user)%>%</h1>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="dropdown card-options">
                        <button class="btn-options" type="button" id="kanban-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item text-danger" href="#">Archive Card</a>
                        </div>
                      </div>
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <h6>Fullfillment Level</h6>
                        </a>
                      </div>
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="David">
                            <h1 style="margin:0px"><%= level_of_fullfillment(current_user)%>%</h1>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="dropdown card-options">
                        <button class="btn-options" type="button" id="kanban-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item text-danger" href="#">Archive Card</a>
                        </div>
                      </div>
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <h6>Colaboration Level</h6>
                        </a>
                      </div>
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="David">
                            <h1 style="margin:0px"><%= level_of_fullfillment(current_user)%>%</h1>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <h6>Mini kanban Board</h6>
                        </a>
                      </div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Status</th>
                              <th scope="col">You</th>
                              <th scope="col">Team</th>
                              <th scope="col">% Desv</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">Backlog</th>
                              <td><%= commitments_by(current_user, 0) %></td>
                              <td><%= average_of_commitments_by_team(current_user.teams, 0) %></td>
                            <td><%= deviation_percentage(commitments_by(current_user, 0), average_of_commitments_by_team(current_user.teams, 0)) %> % </td>
                            </tr>
                            <tr>
                              <th scope="row">Waiting</th>
                              <td><%= commitments_by(current_user, 1) %></td>
                              <td><%= average_of_commitments_by_team(current_user.teams, 1) %></td>
                              <td><%= deviation_percentage(commitments_by(current_user, 1), average_of_commitments_by_team(current_user.teams, 1)) %> % </td>
                            </tr>
                            <tr>
                              <th scope="row">This Week</th>
                              <td><%= commitments_by(current_user, 2) %></td>
                              <td><%= average_of_commitments_by_team(current_user.teams, 2) %></td>
                              <td><%= deviation_percentage(commitments_by(current_user, 2), average_of_commitments_by_team(current_user.teams, 2)) %> % </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card card-kanban">
                    <div class="card-body">
                      <div class="card-title">
                        <a href="#" data-toggle="modal" data-target="#task-modal">
                          <h6>Mini kanban Board</h6>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
                <%= timeline [["Washington", 1789-04-29, 1797-03-03], ["Adams", 1797-03-03, 1801-03-03], ["Jefferson", 1801-03-03, 1809-03-03]] %>
                <%= column_chart  [["Backlog", commitments_by(current_user,0)],["Waiting", commitments_by(current_user,1)], ["This Week", commitments_by(current_user,2)], ["Today", commitments_by(current_user,3)], ["Done", commitments_by(current_user,4)] ]  %>
              </div>
            </div>
            <div class="tab-pane fade show <%= @tab == "do" ? "active" : "" %>" id="do" role="tabpanel" aria-labelledby="do-tab" data-filter-list="content-list-body">
              <p>HOLA</p>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-round btn-floating btn-lg" type="button" data-toggle="collapse" data-target="#floating-chat" aria-expanded="false" aria-controls="sidebar-floating-chat">
        <i class="material-icons">chat_bubble</i>
        <i class="material-icons">close</i>
      </button>


    </div>
  </div>
