<%= form_with model: @commitment,  remote:true, class: "modal fade", id: "commitment-add-modal", tabindex: "-1", role: "dialog", 'aria-labelledby': "commitment-add-modal", 'aria-hidden': "true" do |f| %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New commitment</h5>
                <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <!--end of modal head-->
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" id="commitment-add-details-tab" data-toggle="tab" href="#commitment-add-details" role="tab" aria-controls="commitment-add-details" aria-selected="true">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="commitment-add-responsable-tab" data-toggle="tab" href="#commitment-add-responsable" role="tab" aria-controls="commitment-add-responsable" aria-selected="false">Responsable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="commitment-add-team-tab" data-toggle="tab" href="#commitment-add-team" role="tab" aria-controls="commitment-add-team" aria-selected="false">Team</a>
                </li>
            </ul>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="commitment-add-details" role="tabpanel" aria-labelledby="commitment-add-details-tab">
                        <h6>General Details</h6>
                        <div class="form-group row align-items-center">
                            <label class="col-3">Action</label>
                            <%= f.text_field :action, class: "form-control col", placeholder:"Action to do"%>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Conditions of satisfaction</label>
                            <%= f.text_area :conditions_of_satisfaction, class: "form-control col", placeholder:"Set conditions of satisfaction", rows:'3'%>
                        </div>
                        <hr>
                        <h6>Timeline</h6>
                        <div class="form-group row align-items-center">
                            <label class="col-3">Start Date</label>
                            <%= f.date_field :start_date, class: "form-control col", placeholder:"commitment start"%>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-3">Due Date</label>
                            <%= f.date_field :due_date, class: "form-control col", placeholder:"commitment due"%>
                        </div>
                        <div class="alert alert-warning text-small" role="alert">
                            <span>You can change due dates at any time.</span>
                        </div>
                        <hr>
                        <h6>Visibility</h6>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-everyone" name="visibility" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="visibility-everyone">Everyone</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-members" name="visibility" class="custom-control-input">
                                    <label class="custom-control-label" for="visibility-members">Members</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-me" name="visibility" class="custom-control-input">
                                    <label class="custom-control-label" for="visibility-me">Just me</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- start of tabpane responsable -->
                    <div class="tab-pane fade" id="commitment-add-responsable" role="tabpanel" aria-labelledby="commitment-add-responsable-tab">
                        <div class="users-manage" data-filter-list="form-group-users">
                            <div class="mb-3">
                                <ul class="avatars text-left">
                                    <li>
                                        <span>Actual responsable</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="input-group input-group-round">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">filter_list</i>
                                    </span>
                                </div>
                                <input type="search" class="form-control filter-list-input" placeholder="Filter responsables" aria-label="Filter Members" aria-describedby="filter-responsables">
                            </div>
                            <div class="form-group-users">
                              <% User.all.each do |user| %>
                                  <div class="custom-control custom-checkbox">
                                    <%= f.check_box :responsible_id  , {multiple: false, checked:false}, user.id, nil %>
                                      <label class="custom-control-label" for="<%= user.id %>">
                                          <div class="d-flex align-items-center">
                                              <span class="h6 mb-0" data-filter-by="text"><%= user.first_name %></span>
                                          </div>
                                      </label>
                                  </div>
                              <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- end of tabpane responsable -->
                    <!-- start of tabpane team -->
                    <div class="tab-pane fade" id="commitment-add-team" role="tabpanel" aria-labelledby="commitment-add-team-tab">
                        <div class="users-manage" data-filter-list="form-group-users">
                            <div class="mb-3">
                                <ul class="avatars text-center">
                                  Team:
                                    <li>

                                    </li>
                                </ul>
                            </div>
                            <div class="input-group input-group-round">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">filter_list</i>
                                    </span>
                                </div>
                                <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members" aria-describedby="filter-members">
                            </div>
                            <div class="form-group-users">
                            <% current_user.targets.each do |target| %>
                                <div class="custom-control custom-checkbox">
                                  <%= f.check_box :target_id, {multiple: false, checked:false}, target.id, nil %>
                                    <label class="custom-control-label" for="<%= target.id %>">
                                        <div class="d-flex align-items-center">
                                            <span class="h6 mb-0" data-filter-by="text"><%= target.title %></span>
                                        </div>
                                    </label>
                                </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- end of tabpane team -->
                </div>
            </div>
            <!--end of modal body-->
            <div class="modal-footer">
              <%= f.submit "Create", class:'btn btn-primary' %>
            </div>
        </div>
    </div>
<% end %>
